@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

.mh-according-height-header-footer {
  min-height: calc(100vh - 190px - 1.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerSection:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../public/bannergirls.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerSection {
  min-height: 80vh;
  position: relative;
  z-index: 1;
}

.card figure img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  object-position: center;
  background: white;
  padding: 35px;
  border-radius: 25px;
}

.text-not-more-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-not-more-1 {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.imageportion img {
  width: 100%;
  padding: 70px;
  background: white;
  object-fit: contain;
  border-radius: 15px;
  max-height: 600px;
}

.productdetails {
  padding: 50px;
}

.productdetails > * {
  margin-bottom: 0.75rem;
}

.on-top-right {
  position: absolute;
  max-width: 320px;
  top: 40px;
  right: 40px;
}

.progress-orange-600::-moz-progress-bar {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--a) / var(--tw-bg-opacity));
}
.progress-orange-600:indeterminate {
  --progress-color: hsl(var(--a));
}
.progress-orange-600::-webkit-progress-value {
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / 1);
}

.w-products {
  max-width: calc(33.33% - 1rem);
}

.box-careers {
  text-align: center;
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: 0.3s ease-in-out;
  box-shadow: -8px 8px 0px 0px rgb(234 88 12 / 1);
}

.box-careers:hover {
  box-shadow: 8px 8px 0px 0px rgb(234 88 12 / 1);
}

a {
  display: inline-block;
}

.text-orange-600 {
  color: #fff !important;
}
